footer {
  color: #575e94;
  text-align: center;
}
.github {
  color: #575e94;
  text-decoration: none;
}
.weatherApp {
  margin: auto;
  margin-top: 40px;
  max-width: 900px;
  padding: 30px;
  border: 1px solid #4f568a;
  border-radius: 1%;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 20%,
    #aa97c7,
    #475b88 100%
  );
}
#search-city-input {
  color: #aa97c7;
  border-color: #aa97c7;
  background-color: #f9f3f3;
}
.btn {
  color: #aa97c7;
  background-color: #f9f3f3;
  border-color: #aa97c7;
  margin: 0;
}
.btn :hover {
  cursor: pointer;
  opacity: 0.9;
}
.col-6 {
  padding: 0;
  padding-right: 0px;
}
